@import "tailwindcss";
@import "tw-animate-css";
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* clerk class override */

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}
.cl-socialButtonsIconButton {
  border: 2px solid #565761;
}

.cl-userButtonPopoverActionButton:hover,
.cl-userButtonPopoverActionButtonIcon:hover {
  color: blueviolet;
}
.cl-socialButtonsIconButton__github {
  filter: invert(1);
}
.cl-navbarButtonText,
.cl-navbarButtonIcon,
.cl-userButtonPopoverActionButton,
.cl-internal-wkkub3,
.cl-userButtonPopoverActionButtonIcon {
  color: white;
}
.cl-badge {
  color: white;
  background: #252a41;
}
/* some more css */

.bg_hero {
  background-image: url("/images/hero-background.png");
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
