@import "tailwindcss";
@import "tw-animate-css";
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* clerk class override */

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}
.cl-socialButtonsIconButton {
  border: 2px solid #565761;
}

.cl-userButtonPopoverActionButton:hover,
.cl-userButtonPopoverActionButtonIcon:hover,.cl-avatarImageActonsUpload:hover {
  color: blueviolet;
}
.cl-socialButtonsIconButton__github {
  filter: invert(1);
}
.cl-navbarButtonText,
.cl-navbarButtonIcon,
.cl-userButtonPopoverActionButton,
.cl-internal-wkkub3,
.cl-userButtonPopoverActionButtonIcon, .cl-avatarImageActonsUpload {
  color: white;
}
.cl-badge, .cl-avatarImageActonsUpload {
  color: white;
  background: #252a41;
}
/* some more css */

.bg_hero {
  background-image: url("/images/hero.png");
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
/* global.css */
/* .str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
} */